<section class="app-multi-value-field">
  <div class="row">
    <div class="col s12">
      {{componentInput?.titleText}}
    </div>
    <div class="col s12 position-relative">
      <div class="float-left">
        <mat-form-field class="">
          <input matInput class="form-control" required minlength="2" name="{{componentPrefix}}_0_listItem" [(ngModel)]="componentInput.multiValueArrayList[0]"
            value=''>
        </mat-form-field>
      </div>
      <div class="float-left">
        <span (click)="addEntry()">
          <mat-icon>add_circle</mat-icon>
        </span>
      </div>
    </div>
    <div class="col s12 position-relative" *ngFor="let listItem of componentInput.multiValueArrayList; let listItemItr=index; trackBy:trackByFn">
      <div *ngIf="listItemItr>1">
        <div class="float-left">
          <mat-form-field class="">
            <input matInput class="form-control" required minlength="2" name="{{componentPrefix}}_{{listItemItr}}_listItem"
              [(ngModel)]="componentInput.multiValueArrayList[listItemItr]">
          </mat-form-field>
        </div>
        <div class="float-left">
          <span>
            <mat-icon>remove_circle</mat-icon>
          </span>
          <span (click)="addEntry()">
            <mat-icon>add_circle</mat-icon>
          </span>
        </div>
      </div>
    </div>

  </div>
</section>