<section class="app-login">

  <div class="row">
    <div class="col l4 s12"></div>
    <div class="col l4 s12">
      <h1>Login</h1>
      <app-alert></app-alert>
      <div [ngClass]="{
        'invalid':loginForm.username.errors.required,
        'valid':loginForm.username.value && !loginForm.username.errors.required
      }">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="loginForm.username.value" (ngModelChange)="loginForm.validate()" />
        <div class="invalid-feedback">
          <div>Username is required</div>
        </div>
      </div>
      <div [ngClass]="{
        'invalid':loginForm.password.errors.required,
        'valid':loginForm.password.value && !loginForm.password.errors.required
      }">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="loginForm.password.value" (ngModelChange)="loginForm.validate()" />
        <div class="invalid-feedback">
          <div>Password is required</div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" (click)="onSubmit()" class="button button-blue">Login</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        &nbsp;<a [routerLink]="['/register']" class="button button-blue">Register</a>
      </div>
    </div>
    <div class="col l4 s12"></div>
  </div>

</section>