.app-type-a-head-image-search-performance {
    height: 100%;
    .sticky {
        position: fixed;
        width: 250px;
        height: 59px;
        background-color: green;
        opacity: 0.5;
        top: 50px;
        right: 5px;
        padding: 12px;
        color: white;
        text-align: center;
        border-radius: 5px;
        z-index: 10;
    }
    .tahimsp-poc-core-img {
        height: 307px;
    }
    .tahimsp-title {
        width: 100%;
    }
    .tahimsp-title-container {
        width: 100%;
    }
    ::ng-deep .tahimsp-searchField {
        width: 90%;
        input {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding-left: 15px;
            &:focus {
                border: 1px solid #ccc;
                box-shadow: none;
            }
        }
        .mat-form-field-label-wrapper {
            label.mat-form-field-label {
                font-size: 18px;
                padding-left: 10px;
                padding-top: 6px;
            }
        }
    } // .search-container {
    //     margin: auto;
    //     button {
    //         height: 46px;
    //         min-width: 28px;
    //         background: #ccc;
    //         width: 5%;
    //     }
    //     input[type=text] {
    //         // width: 80%;
    //         border: 1px solid #ccc;
    //     }
    // }
    .tahimsp-card-container {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    ::ng-deep .mat-form-field-underline {
        display: none !important;
    }
}