.app-poc-landing-page {
    .poc-card-container {
        margin-top: 5px;
        margin-bottom: 5px;
        .poc-card {
            .poc-card-header-image-container {
                height: 90px;
                width: 100px;
                .poc-card-header-image {
                    height: 100%;
                    width: 100%;
                }
            }
            .mat-card-header {
                min-height: 131px;
            }
            .mat-card-content {
                height: 50px;
            }
            .mat-card-subtitle {
                margin-left: -115px;
            }
            .mat-card-title {
                min-height: 90px;
            }
        }
    }
}