$app-title-color:#686868;
$app-title-section-separator-color:#1D75BC;
$app-footer-section-separator-color: #B7B7B7;
$app-page-title-color:#043167;
$button-blue-color: #1866A3;
$app-invalid-field-indicator-color: #B52D30;
$app-valid-field-indicator-color: #3F714E;

$app-name-tag-background-color:#E7EAED;
