@mixin Roboto ($weight, $font-size:"12px") {
    font-family: Roboto !important;
    font-size: $font-size;
    @if $weight==bold {
        font-weight: 700 !important;
    }
    @if $weight==medium {
        font-weight: 500 !important;
    }
    @if $weight==regular {
        font-weight: 400 !important;
    }
    @if $weight==normal {
        font-weight: 400 !important;
    }
    @if $weight==light {
        font-weight: 300 !important;
    }
    @if $weight==thin {
        font-weight: 100 !important;
    }
}

@mixin FontAwesome5Free ($weight) {
    @if $weight==light {
        font-family: FontAwesome5FreeLight !important;
    }
    @if $weight==regular {
        font-family: FontAwesome5FreeRegular !important;
    }
    @if $weight==solid {
        font-family: FontAwesome5FreeSolid !important;
    }
}

@mixin FontAwesome5Pro ($weight) {
    @if $weight==light {
        font-family: FontAwesome5ProLight !important;
    }
    @if $weight==regular {
        font-family: FontAwesome5ProRegular !important;
    }
    @if $weight==solid {
        font-family: FontAwesome5ProSolid !important;
    }
}