.position-relative {
    position: relative;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.left-vertical-center-align-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    height: 100%;
}

.right-vertical-center-align-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    height: 100%;
}